<div class="triangle-container">
</div>
<footer>
  <div class="footer-content">
    <div class="footer-wrapper">
      <div class="footer-links-container">
        <a href="/" class="footer-link">Home</a>
        <a href="/projects" class="footer-link">Projects</a>
        <a href="/explorations" class="footer-link">Explorations</a>
        <a href="https://github.com/IntuitiveHarmony" class="footer-link" target="_blank" rel="noopener noreferrer">GitHub</a>
        <a href="https://www.linkedin.com/in/jason-horst/" class="footer-link" target="_blank" rel="noopener noreferrer">Linkedin</a>
        <a href="https://calendly.com/intuitiveharmony" class="footer-link" target="_blank" rel="noopener noreferrer">Calendly</a>
        <a href="/contact" class="footer-link">Contact</a>
      </div>
      <div class="footer-love-container">
        Made with 💜 express and jQuery by <a href="https://github.com/IntuitiveHarmony" class="footer-link" id="ih-link" target="_blank" rel="noopener noreferrer">Intuitive Harmony</a>
      </div>
    </div>
  </div>
</footer>

<!-- this is for resizing the nav bar -->
<script src="/javascripts/adjustContentPosition.js"></script>
<!-- Render triangles based on screen size -->
<script src="/javascripts/triangleTangle.js"></script>