<head>
  <script src="https://kit.fontawesome.com/0920e202c7.js" crossorigin="anonymous"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>
    <%= title %>
  </title>
</head>