<nav>
  <a href="/">Home</a>
  <a href="/projects">Projects</a>
  <!-- <a href="/funStuff">Fun Stuff</a> -->
  <a href="https://github.com/IntuitiveHarmony" target="_blank" rel="noopener noreferrer" title="My GitHub"><i class="fa-brands fa-github"></i></a>
  <a href="https://www.linkedin.com/in/jason-horst/" target="_blank" rel="noopener noreferrer" title="My LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
  <a href="" title="Send Me a Message"><i class="fa-solid fa-envelope"></i></a>
  <% if (isAdmin) { %>
    <a href="/admin/dashboard" title="Logout">Dashboard</a>
    <a href="/logout" title="Logout">Logout</a>
  <% } %>
</nav>