<nav class="navbar navbar-expand-sm nav-background fixed-top">
  <div class="container-fluid d-flex">
    <a class="navbar-brand" href="/"><img src="/images/favicon.ico" alt="Logo" class="logo"></a>
    <a class="navbar-brand name me-auto" aria-current="page" href="/">Jason Horst</a>

    <button class="navbar-toggler nav-link" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <!-- <a class="nav-link name" aria-current="page" href="/">Jason Horst</a> -->
        </li>
        <div class="vertical-line"></div>
        <li class="nav-item secondary-box">
          <a class="nav-link secondary-link" href="/projects">Projects</a>
          <a class="nav-link secondary-link disabled" href="/funStuff">Fun Stuff</a>
        </li>
        <% if (isAdmin) { %>
          <li class="nav-item">
            <a href="/admin/dashboard" title="Logout" class="nav-link">Dashboard</a>
          </li>
          <li class="nav-item">
            <a href="/logout" title="Logout" class="nav-link">Logout</a>
          </li>
          <% } %>
      </ul>
      <ul class="navbar-nav navbar-nav-right link-box">
        <li class="nav-item justify-right">
          <a href="https://github.com/IntuitiveHarmony" target="_blank" rel="noopener noreferrer" title="My GitHub"
            class="nav-link"><i class="fa-brands fa-github"></i></a>
        </li>
        <li class="nav-item justify-right">
          <a href="https://www.linkedin.com/in/jason-horst/" target="_blank" rel="noopener noreferrer"
            title="My LinkedIn" class="nav-link"><i class="fa-brands fa-linkedin"></i></a>
        </li>
        <li class="nav-item justify-right">
          <a href="" title="Send Me a Message" class="nav-link"><i class="fa-solid fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>