<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/head") %>
</head>

<body>
  <%- include("partials/nav") %>
    <div class="content-container">
          <p id="datetime"></p>
          
              <script>
                // Function to update and display the current date and time
                function updateDateTime() {
                  var currentDate = new Date();
                  var options = {
                    weekday: 'long',
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric',
                    hour: 'numeric',
                    minute: 'numeric',
                    second: 'numeric',
                    timeZoneName: 'short'
                  };
                  var formattedDate = currentDate.toLocaleDateString(undefined, options);
                  document.getElementById("datetime").textContent = formattedDate;
                }

                // Initial call to display the date and time
                updateDateTime();

                // Call the updateDateTime function every second (1000 milliseconds)
                setInterval(updateDateTime, 1000);
              </script>
    </div>
    <%- include("partials/footer") %>
</body>

</html>