<!DOCTYPE html>
<html>
<%- include("partials/head") %>

  <body>
    <%- include("partials/nav") %>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Image</th>
          <th>Live Link</th>
          <th>Description</th>
          <th>GitHub Link</th>
          <th>Display</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <form action="/projects" method="POST">
            <td><input type="text" name="name" class="form-control"></td>
            <td><input type="text" name="img" class="form-control"></td>
            <td><input type="text" name="liveLink" class="form-control"></td>
            <td><input type="text" name="description" class="form-control"></td>
            <td><input type="text" name="githubLink" class="form-control"></td>
            <td><input type="checkbox" name="display" class="form-check-input"></td>
            <td>
              <button type="submit" class="btn btn-primary">Add Project</button>
            </td>
          </form>
        </tr>
      </tbody>
    </table>
  </body>

</html>