<!DOCTYPE html>
<html>
<%- include("partials/head") %>

  <body>
    <%- include("partials/nav") %>
      <div class="content-container">
          <img class="profile-img blue-pink-border" src="/images/profile.png" alt="Profile Picture">
          
            <h1 class="greeting" >Hello, <br>my name is Jason</h1>
            <p>I am a multi-faceted human being with too many interests for me to keep up with!</p>
            <p>If I'm not taking something apart to understand how it works, I'm fixing something that I broke while
              taking it apart to understand how it worked.</p>
            <p>Currently I am teaching myself how to build MIDI based musical instruments.</p>
            <p>Neon lights, retro vibes, outrun dreams. Vaporwave aesthetic, cyberpunk realities. Glowing sunsets, cityscape in pixels.
              Synth melodies, cassette nostalgia. Drive through neon-lit streets, a journey to the past. Synthwave ipsum, forever in
              style.
            </p>
            <img class="right" src="https://github.com/IntuitiveHarmony/buttonLED/raw/master/media/buttonLED.gif" alt="Profile Picture">
            <p>Lost in the glitched jungle, where neon birds soar and tigers roam. Synthwave melodies blend with digital raindrops,
              creating a cybernetic symphony. Enter the retro-futuristic realm, where glitched landscapes come alive. Amongst the
              pulsating beats, a vibrant cityscape emerges, a playground for pixelated dreams. Immerse yourself in the glitched
              wilderness, where neon vines intertwine and electric echoes resonate. The neon-lit night comes alive with the roar of
              the glitched tiger, a symbol of raw power and untamed energy.
            </p>
            <hr>
            <br>
            <h2>Tech I am familiar with:</h2>
            <h4>Programming Languages:</h4>
            <div class="badge-container">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="Javascript Badge" class="badge-icon" title="Javascript">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg" alt="C++ Badge" class="badge-icon" title="C++">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" alt="Python Badge" class="badge-icon" title="Python">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="Html 5 Badge" class="badge-icon" title="HTML 5">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" alt="CSS 3 Badge" class="badge-icon" title="CSS 3">
              <img src="https://user-images.githubusercontent.com/1220707/45721248-947db900-bba7-11e8-9465-63497daf8029.png" alt="Pure Data Badge" class="badge-icon" title="Pure-Data">
            </div>
            <h4>Frameworks and Libraries:</h4>
            <div class="badge-container">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" alt="Node Badge" class="badge-icon" title="Node">
              <img src="/images/logos/express.png" alt="Express Badge" class="badge-icon" title="Express">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jquery/jquery-original.svg" alt="jQuery 3 Badge" class="badge-icon" title="jQuery">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" alt="React Badge" class="badge-icon" title="React">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/redux/redux-original.svg" alt="Redux Badge" class="badge-icon" title="Redux">
              <img src="/images/logos/juce.png" alt="JUCE Badge" class="badge-icon" title="JUCE">
              <img src="/images/logos/django.png" alt="Django Badge" class="badge-icon" title="Django">
            </div>



      </div>
      <%- include("partials/footer") %>
  </body>

</html>
