<!DOCTYPE html>
<html>
<%- include("partials/head") %>

  <body>
    <%- include("partials/nav") %>
      <div class="content-container">
        <div class="header-container">
          <img class="profile-img" src="/images/profile.png" alt="Profile Picture">
          <h1>Hello, my name is Jason</h1>
        </div>
        <div class="text-container">
          <p>I am a multi-faceted human being with too many interests for me to keep up with!</p>
          <p>If I'm not taking something apart to understand how it works, I'm fixing something that I broke while
            taking it apart to understand how it worked.</p>
          <p>Currently I am teaching myself how to build MIDI based musical instruments.</p>
        </div>
      </div>
      <%- include("partials/footer") %>
  </body>

</html>
