<!DOCTYPE html>
<html>
<%- include("partials/head") %>

  <body>
    <%- include("partials/nav") %>
      <div class="content-container">
          <img class="profile-img blue-pink-border" src="/images/profile.png" alt="Profile Picture">
          
            <h1 class="greeting" >Hello, <br>my name is Jason</h1>
            <p>I am a multi-faceted human being with too many interests for me to keep up with!</p>
            <p>If I'm not taking something apart to understand how it works, I'm fixing something that I broke while
              taking it apart to understand how it worked.</p>
            <p>Currently I am teaching myself how to build MIDI based musical instruments.</p>
            <p>Neon lights, retro vibes, outrun dreams. Vaporwave aesthetic, cyberpunk realities. Glowing sunsets, cityscape in pixels.
              Synth melodies, cassette nostalgia. Drive through neon-lit streets, a journey to the past. Synthwave ipsum, forever in
              style.
            </p>
            <img class="right-img blue-pink-border-reverse" src="https://github.com/IntuitiveHarmony/buttonLED/raw/master/media/buttonLED.gif" alt="Project Picture">
            <p>Lost in the glitched jungle, where neon birds soar and tigers roam. Synthwave melodies blend with digital raindrops,
              creating a cybernetic symphony. Enter the retro-futuristic realm, where glitched landscapes come alive. Amongst the
              pulsating beats, a vibrant cityscape emerges, a playground for pixelated dreams. Immerse yourself in the glitched
              wilderness, where neon vines intertwine and electric echoes resonate. The neon-lit night comes alive with the roar of
              the glitched tiger, a symbol of raw power and untamed energy.
            </p>
            <hr>
            <br>
            <div class="tech-container">
              <h2>Tech I am familiar with:</h2>
              <div class="tech-deck">
                <div class="tech-card">
                  <p class="badge-header">Programming Languages:</p>
                  <div class="badge-container">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="Javascript Badge" class="badge-icon" title="Javascript">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg" alt="C++ Badge" class="badge-icon" title="C++">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" alt="Python Badge" class="badge-icon" title="Python">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="Html 5 Badge" class="badge-icon" title="HTML 5">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" alt="CSS 3 Badge" class="badge-icon" title="CSS 3">
                    <img src="https://user-images.githubusercontent.com/1220707/45721248-947db900-bba7-11e8-9465-63497daf8029.png" alt="Pure Data Badge" class="badge-icon" title="Pure-Data">
                  </div>
                </div>
                <div class="tech-card">
                  <p class="badge-header">Frameworks:</p>
                  <div class="badge-container">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" alt="Node Badge" class="badge-icon" title="Node">
                    <img src="/images/logos/express.png" alt="Express Badge" class="badge-icon" id="express" title="Express">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" alt="React Badge" class="badge-icon" title="React">
                    <img src="/images/logos/django.png" alt="Django Badge" class="badge-icon" title="Django">
                  </div>
                </div>
                <div class="tech-card">
                  <p class="badge-header">Libraries:</p>
                  <div class="badge-container">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jquery/jquery-original.svg" alt="jQuery Badge" class="badge-icon" title="jQuery">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/redux/redux-original.svg" alt="Redux Badge" class="badge-icon" title="Redux">
                    <img src="/images/logos/juce.png" alt="JUCE Badge" class="badge-icon" title="JUCE">
                  </div>
                </div>
                <div class="tech-card">
                  <p class="badge-header">Databases:</p>
                  <div class="badge-container">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-plain.svg" alt="Mongo DB Badge" class="badge-icon" title="Mongo DB">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" alt="Postgresl Badge" class="badge-icon" title="Postgresl">
                  </div>
                </div>
                <div class="tech-card">
                  <p class="badge-header">Version Control and Collaboration:</p>
                  <div class="badge-container">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" alt="Git Badge" class="badge-icon" title="Git">
                    <img src="/images/logos/githubPink.png" alt="GitHub Badge" class="badge-icon" title="GitHub">
                    <img src="/images/logos/markdown.png" alt="Markdown Badge" class="badge-icon" title="Markdown">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/slack/slack-original.svg" alt="Slack Badge" class="badge-icon" title="Slack">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/trello/trello-plain.svg" alt="Trello Badge" class="badge-icon" title="Trello">
                  </div>
                </div>
                <div class="tech-card">
                  <p class="badge-header">Development Tools:</p>
                  <div class="badge-container">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg" alt="VSCode Badge" class="badge-icon" title="VSCode">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/heroku/heroku-original.svg" alt="Heroku Badge" class="badge-icon" title="Heroku">
                    <img src="https://www.google.com/chrome/static/images/chrome-logo-m100.svg" alt="Chrome Badge" class="badge-icon" title="Chrome">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/xcode/xcode-original.svg" alt="Xcode Badge" class="badge-icon" title="Xcode">
                    <img src="https://camo.githubusercontent.com/bc62adb68f2cec197dca6b76dfe5ceb5e81e120c05f132aaa5686ee713ed7b9c/68747470733a2f2f63646e2e66726565626965737570706c792e636f6d2f6c6f676f732f6c617267652f32782f6170706c652d312d6c6f676f2d706e672d7472616e73706172656e742e706e67" alt="Apple Badge" class="badge-icon" title="Apple">
                  </div>
                </div>
                <div class="tech-card">
                  <p class="badge-header">A/V Production Tools:</p>
                  <div class="badge-container">
                    <img src="/images/logos/midiPort.png" alt="MIDI Badge" class="badge-icon" title="MIDI">
                    <img src="/images/logos/ableton.png" alt="Ableton Badge" class="badge-icon" id="ableton" title="ableton">
                    <img src="https://millennialmind.co/wp-content/uploads/2019/05/reaper.png" alt="Reaper Badge" class="badge-icon" title="Reaper">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/PT2019.png/180px-PT2019.png" alt="Pro Tools Badge" class="badge-icon" title="Pro Tools">
                    <!-- <img src="/images/logos/midjourney.png" alt="Midjourney Badge" class="badge-icon" title="Midjourney"> -->
                    <img src="/images/logos/beFunky.png" alt="Be Funky Badge" class="badge-icon" title="Be Funky">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%- include("partials/footer") %>
        </body>
        
        </html>
