<!DOCTYPE html>
<html>
<%- include("partials/head") %>

<body>
  <%- include("partials/nav") %>
  <div class="content-container">
    <div class="bio-card">

      <img class="profile-img blue-pink-border" src="/images/profile.png" alt="Profile Picture">

      <h2 class="greeting">Hello, my name is Jason</h2>

      <p class="quote">Full-stack software developer specializing in <br>frontend web development and <br>software driven music production, <br>based in Lakewood, CO USA</p>

      <p class="blurb">For over 25 years, I've cultivated a passion for building technical solutions and harnessing creative expression.<br><br>

        My journey has taken me through a few diverse fields: from music to culinary arts to HVAC to software development where I have crafted a creative problem-solving approach and a commitment to high-quality, reliable solutions.</p>
    </div>

    <br>
    <div class="inspire-container">
      <div>
        <h2 class="highlight">Inspired by function</h2>
        <p class="inspire-content">I enjoy that JavaScript, HTML and CSS provide me with a digital canvas and paint where I can explore my creativity in the visual realm. By having this digital canvas interact with data from an API, I can transform the application, unlocking its true potential to deliver a dynamic, fluid, and meaningful experience to the client.</p>
      </div>

      <div>
        <h2 class="highlight">Inspired by sound</h2>
        <p class="inspire-content">Music allows us to connect with a deeper part of ourselves. Computers provide a unique opportunity to level the playing field in terms of how we interact with and produce music. My goal is to explore the boundaries of MIDI controllers, aiming to blur the line between the music inside our minds and its external expression. </p>
      </div>

      <div>
        <h2 class="highlight">Inspired by potential</h2>
        <p class="inspire-content">At the core of my philosophy reside collaboration and growth. Every project is an opportunity to collaborate with someone who has a different perspective than we are used to and that the result is often greater than the sum of its parts. Together, we can unearth the fullest potential of our mutual projects.</p>
      </div>




    </div>

    <br>
    <p>If you have an idea for a <a href="/projects" class="pink-link">project</a> or would like to collaborate on one, <a href="/contact" class="pink-link">send me a message</a>. I'm excited to discover how we can contribute to each others journey!</p>

    <img class="right-img blue-pink-border-reverse" src="https://github.com/IntuitiveHarmony/buttonLED/raw/master/media/buttonLED.gif" alt="Project Picture">



    <br>
    <hr>
    <div class="tech-container">
      <h2>Tech I am familiar with:</h2>
      <div class="tech-deck">
        <div class="tech-card">
          <p class="badge-header">Programming Languages:</p>
          <div class="badge-container">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="Javascript Badge" class="badge-icon" title="Javascript">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg" alt="C++ Badge" class="badge-icon" title="C++">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" alt="Python Badge" class="badge-icon" title="Python">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="Html 5 Badge" class="badge-icon" title="HTML 5">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" alt="CSS 3 Badge" class="badge-icon" title="CSS 3">
            <img src="https://user-images.githubusercontent.com/1220707/45721248-947db900-bba7-11e8-9465-63497daf8029.png" alt="Pure Data Badge" class="badge-icon" title="Pure-Data">
          </div>
        </div>
        <div class="tech-card">
          <p class="badge-header">Microcontrollers:</p>
          <div class="badge-container">
            <img src="https://support.arduino.cc/hc/article_attachments/4679252720284/ArduinoCommunityLogo.png" alt="Arduino Badge" class="badge-icon stretch" id="arduino" title="Arduino">
            <img src="https://cdn2.hubspot.net/hubfs/2224003/Hosted%20Images/flame-32.png" alt="Sparkfun Badge" class="badge-icon" id="sparkfun" title="Sparkfun">
          </div>
        </div>
        <div class="tech-card">
          <p class="badge-header">Frameworks:</p>
          <div class="badge-container">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" alt="Node Badge" class="badge-icon" title="Node">
            <img src="/images/logos/express.png" alt="Express Badge" class="badge-icon" id="express" title="Express">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" alt="React Badge" class="badge-icon" title="React">
            <img src="/images/logos/django.png" alt="Django Badge" class="badge-icon" title="Django">
          </div>
        </div>
        <div class="tech-card">
          <p class="badge-header">Libraries:</p>
          <div class="badge-container">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jquery/jquery-original.svg" alt="jQuery Badge" class="badge-icon" title="jQuery">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/redux/redux-original.svg" alt="Redux Badge" class="badge-icon" title="Redux">
            <img src="/images/logos/juce.png" alt="JUCE Badge" class="badge-icon" title="JUCE">
          </div>
        </div>
        <div class="tech-card">
          <p class="badge-header">Databases:</p>
          <div class="badge-container">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-plain.svg" alt="Mongo DB Badge" class="badge-icon" title="Mongo DB">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" alt="Postgresl Badge" class="badge-icon" title="PostgreSQL">
          </div>
        </div>
        <div class="tech-card">
          <p class="badge-header">Version Control:</p>
          <div class="badge-container">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" alt="Git Badge" class="badge-icon" title="Git">
            <img src="/images/logos/githubPink.png" alt="GitHub Badge" class="badge-icon" title="GitHub">
          </div>
        </div>
        <div class="tech-card">
          <p class="badge-header">Development Tools:</p>
          <div class="badge-container">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg" alt="VSCode Badge" class="badge-icon" title="VSCode">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/heroku/heroku-original.svg" alt="Heroku Badge" class="badge-icon" title="Heroku">
            <img src="https://www.google.com/chrome/static/images/chrome-logo-m100.svg" alt="Chrome Badge" class="badge-icon" title="Chrome">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/xcode/xcode-original.svg" alt="Xcode Badge" class="badge-icon" id="xcode" title="Xcode">
            <img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Apple_Computer_Logo_rainbow.svg" class="badge-icon" id="apple" title="Apple">
          </div>
        </div>
        <div class="tech-card">
          <p class="badge-header">A/V Production Tools:</p>
          <div class="badge-container">
            <img src="/images/logos/midiPort.png" alt="MIDI Badge" class="badge-icon" title="MIDI">
            <img src="/images/logos/ableton.png" alt="Ableton Badge" class="badge-icon" id="ableton" title="ableton">
            <img src="https://millennialmind.co/wp-content/uploads/2019/05/reaper.png" alt="Reaper Badge" class="badge-icon" title="Reaper">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/PT2019.png/180px-PT2019.png" alt="Pro Tools Badge" class="badge-icon" title="Pro Tools">
            <!-- <img src="/images/logos/midjourney.png" alt="Midjourney Badge" class="badge-icon" title="Midjourney"> -->
            <img src="/images/logos/beFunky.png" alt="Be Funky Badge" class="badge-icon" title="Be Funky">
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include("partials/footer") %>
</body>

</html>