<!DOCTYPE html>
<html>
<%- include("partials/head") %>

  <body>
    <%- include("partials/nav") %>
      <div class="content-container">
          <img class="profile-img" src="/images/profile.png" alt="Profile Picture">
          
            <h1>Hello, my name is Jason</h1>
            <p>I am a multi-faceted human being with too many interests for me to keep up with!</p>
            <p>If I'm not taking something apart to understand how it works, I'm fixing something that I broke while
              taking it apart to understand how it worked.</p>
            <p>Currently I am teaching myself how to build MIDI based musical instruments.</p>
            <p>Neon lights, retro vibes, outrun dreams. Vaporwave aesthetic, cyberpunk realities. Glowing sunsets, cityscape in pixels.
            Synth melodies, cassette nostalgia. Drive through neon-lit streets, a journey to the past. Synthwave ipsum, forever in
            style.</p>
            <img class="right" src="https://github.com/IntuitiveHarmony/buttonLED/raw/master/media/buttonLED.gif" alt="Profile Picture">
            <p>Lost in the glitched jungle, where neon birds soar and tigers roam. Synthwave melodies blend with digital raindrops,
            creating a cybernetic symphony. Enter the retro-futuristic realm, where glitched landscapes come alive. Amongst the
            pulsating beats, a vibrant cityscape emerges, a playground for pixelated dreams. Immerse yourself in the glitched
            wilderness, where neon vines intertwine and electric echoes resonate. The neon-lit night comes alive with the roar of
            the glitched tiger, a symbol of raw power and untamed energy.</p>
            <p>This is the realm of synthwave, where jungle meets glitch,
            and the future collides with the past. Let the rhythmic glitches guide you on an auditory adventure, where every pixel
            holds a story, and every beat sparks electric nostalgia. Embrace the vibrant energy of the synthwave universe, where
            glitch and jungle entwine in a harmonious symphony of retro-futurism.</p>
            
            <p></p>

      </div>
      <%- include("partials/footer") %>
  </body>

</html>
