<!DOCTYPE html>
<html>
  <%- include("partials/head") %>
  <body>
    <%- include("partials/nav") %>
    <div class="content-container">
      <h1>Hello, my name is Jason</h1>
      <p>I am a multi-faceted human being with too many interests for me to keep up with!</p>
      <p></p>
      <p>Currently I am teaching myself how to build MIDI based musical instruments.</p>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
