body {
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  box-sizing: border-box;
  background-color: black;
  color: rgb(0, 162, 255);
  position: relative;
}
body::after {
  background-image: url('/images/synthwaveWire.png');  
  background-repeat: repeat;
  background-size: 250px;
  filter: saturate(65%);
  opacity: 0.4;
  content: "";
  object-fit: contain;
  top: 0;
  left: -100px;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}
nav {
  position: fixed;
  font-size: 1.3em;
}
.nav-background {
  background-color: rgba(255, 0, 255, 0.8);
  box-shadow: 2px;
}
.name {
  font-size: 1.6em;
}
.nav-link {
  color: rgb(0, 213, 255);
}
.navbar-nav-right {
  margin-left: auto;
}
.vertical-line {
  width: 2px;
  /* Adjust the height as needed */
  background-color: rgba(255, 0, 255, 0.7);
}
@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}
.logo {
  animation: rotate 9s linear infinite;
  max-width: 2.3em;
}
.justify-right {
  justify-content: flex-end;
}
.secondary-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.secondary-link {
  padding: 0;
  font-size: .7em;
}
.content-container { 
  height: initial;
  border-top-left-radius: 4em 3em;
  margin: 1em;
  background-color: rgba(90, 42, 141, 0.8);
  padding: .7em;
}
.profile-img {
  float: left;
  shape-outside: circle();
  border-radius: 50%;
  width: 7em;
  height: 7em;
  min-width: 7em;
  object-fit: cover;
  object-position: 50% 70%;
  margin-right: 1.7em;
}
.greeting {
  font-size: 1.3em;
}
.right {
  border-radius: 50%;
  width: 23em;
  height: 23em;
  margin-left: 1.7em;
  object-fit: cover;
  object-position: 70% 70%;
  float: right;
  shape-outside: circle();
}
.project-deck {
  display: flex;
  flex-wrap: wrap;
}
.project-card {
  margin-bottom: 2em;
  max-width: 100%;
}
.project-img {
  max-width: 100%;
}

footer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  background-color: rgba(1, 233, 245, 0.7);
  color: magenta;
  height: 2em;
}

.triangles {
  width: 100vw;
  margin-top: 3em;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(33, 1fr);
}
.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 20px;
  /* Adjust the border-width to control the size of the triangle */
  border-color: rgba(1, 233, 245, 0.7) transparent rgba(1, 233, 245, 0.7) transparent;
}
.footer-content {
  max-width: 100vh;
  display: flex;
  flex-direction: row-reverse;
}


/* Tablet breakpoint (768px) */
@media (min-width: 768px) {
  
}

/* Desktop styles (applies to screens larger than 768px) */
@media (min-width: 1024px) {
  nav {
      font-size: 1.6em;
    }
  .greeting {
    font-size: 1.7em;
  }
  .content-container {
      border-top-left-radius: 12em 9em;
      padding: 1.5em;
    }
  .profile-img {
    width: 19em;
    height: 19em;
    min-width: 9em;
    margin-right: 2.3em;
  }
}